[submodule "external/osqp"]
	path = external/osqp
	url = https://github.com/osqp/osqp.git
[submodule "external/odeint-v2"]
	path = external/odeint-v2
	url = https://github.com/headmyshoulder/odeint-v2.git
